---
# Sergei A. Fedorov code style
Language:                                       Cpp
Standard:                                       Cpp11
ColumnLimit:                                    100
AccessModifierOffset:                           -4
AlignAfterOpenBracket:                          Align
AlignConsecutiveAssignments:                    true
AlignConsecutiveDeclarations:                   true
AlignEscapedNewlines:                           Left
AlignOperands:                                  true
AlignTrailingComments:                          true
AllowAllParametersOfDeclarationOnNextLine:      true
AllowShortCaseLabelsOnASingleLine:              false
AllowShortBlocksOnASingleLine:                  true
AllowShortFunctionsOnASingleLine:               Inline
AllowShortIfStatementsOnASingleLine:            false
AlwaysBreakAfterDefinitionReturnType:           All
AlwaysBreakAfterReturnType:                     All
AlwaysBreakBeforeMultilineStrings:              true
AlwaysBreakTemplateDeclarations:                Yes
BinPackArguments:                               true
BinPackParameters:                              true
BraceWrapping:
  AfterClass:                                   false
  AfterControlStatement:                        false
  AfterEnum:                                    false
  AfterFunction:                                true
  AfterNamespace:                               false
  AfterObjCDeclaration:                         false
  AfterStruct:                                  false
  AfterUnion:                                   false
  AfterExternBlock:                             false
  BeforeCatch:                                  false
  BeforeElse:                                   false
  IndentBraces:                                 false
  SplitEmptyFunction:                           false
  SplitEmptyRecord:                             false
  SplitEmptyNamespace:                          true
BreakBeforeBinaryOperators:                     All
BreakBeforeBraces:                              Custom
BreakBeforeTernaryOperators:                    true
BreakConstructorInitializers:                   BeforeColon
BreakInheritanceList:                           BeforeColon
BreakStringLiterals:                            true
ConstructorInitializerAllOnOneLineOrOnePerLine: true
ConstructorInitializerIndentWidth:              4
ContinuationIndentWidth:                        4
Cpp11BracedListStyle:                           true
DerivePointerAlignment:                         true
FixNamespaceComments:                           true
IncludeBlocks:                                  Regroup
IncludeCategories:
  # C includes
  - Regex:                                      '^<.*\.h>'
    Priority:                                   2
  - Regex:                                      '^<(gtest|gmock|boost)'
    Priority:                                   3
  - Regex:                                      '^<.*\.hpp>'
    Priority:                                   1
  # Standard includes
  - Regex:                                      '<[[:alnum:].]+>'
    Priority:                                   4
  - Regex:                                      '.*'
    Priority:                                   1
IndentCaseLabels:                               false
IndentPPDirectives:                             AfterHash
IndentWidth:                                    4
IndentWrappedFunctionNames:                     false
KeepEmptyLinesAtTheStartOfBlocks:               true
MaxEmptyLinesToKeep:                            1
NamespaceIndentation:                           None
PointerAlignment:                               Left
ReflowComments:                                 true
SortIncludes:                                   true
SortUsingDeclarations:                          true
SpaceAfterCStyleCast:                           false
SpaceAfterTemplateKeyword:                      true
SpaceBeforeAssignmentOperators:                 true
SpaceBeforeCpp11BracedList:                     false
SpaceBeforeCtorInitializerColon:                true
SpaceBeforeInheritanceColon:                    true
SpaceBeforeParens:                              ControlStatements
SpaceBeforeRangeBasedForLoopColon:              true
SpaceInEmptyParentheses:                        false
SpacesBeforeTrailingComments:                   4
SpacesInAngles:                                 false
SpacesInCStyleCastParentheses:                  false
SpacesInContainerLiterals:                      true
SpacesInSquareBrackets:                         false
TabWidth:                                       4
UseTab:                                         Never
...
